<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  autoReload="true"
		  internalLogLevel="Info">

		<!-- the targets to write to -->
		<targets>
			<!-- write logs to file  -->
			<target xsi:type="File" name="allfile" archiveAboveSize="10485760" fileName="logs/log-${shortdate}.log"
					layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${message}" />

			<target xsi:type="File" archiveAboveSize="10485760" name="debug" fileName="logs/log-debug-${shortdate}.log"
					layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
			
			<target xsi:type="File" archiveAboveSize="10485760" name="error" fileName="logs/log-error-${shortdate}.log"
					layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />

			<target name="debugger" xsi:type="Debugger" layout="${message} ${exception:format=ToString,StackTrace}"/>
		</targets>

		<!-- rules to map from logger name to target -->
		<rules>
			<!--All logs, including from Microsoft-->
			<logger name="*" level="Trace,Info,Error,Fatal" writeTo="allfile,debugger" />
			<logger name="*" level="Debug" writeTo="debug,debugger" />
			<logger name="*" level="Error" writeTo="error,debugger" />
		</rules>
	</nlog>

</configuration>